*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #f9f9f9;
}


#check{

    display: none;
}
#icone{

    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.barra{

    background-color: #333;
    height: 100%;
    width: 300px;
    position: absolute;
    translate: all .2s linear;
    left: -300px;

}

nav{

    width: 100%;
    position: absolute;
    top: 60px;


}
nav a{

    text-decoration: none;


}
.link{

    background-color: #494950;
    padding: 20px;
    font-family: arial;
    font-size: 12pt;
    transform: all .2s linear;
    color: white;
    border-bottom: 2px solid #222;
    opacity: 1;
    margin-top: 200px;
    
}
.link:hover{

    background-color: white;
    color: #494950;

}
#check:checked ~ .barra{

    transform: translateX(300px);

    
}
#check:checked ~ .barra nav a .link{

    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;  
    
    
}