/*******************css do menu******************************************/
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #e4e1e6;
}

.logo{

    padding: 15px;
    background-color: #333;
   
}

.perfil{
    text-align:right!important;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.barra{

    background-color: #333;
    height: 100%;
    width: 220px;
    position: absolute;
    translate: all .2s linear;
    

}

nav{

    width: 100%;
    position: absolute;
    


}
nav a{

    text-decoration: none;


}
.link{

    background-color: #494950;
    padding: 15px;
    font-family: arial;
    font-size: 12pt;
    transform: all .2s linear;
    color: white;
    border-bottom: 2px solid #222;

    
}
.link:hover{
    padding: 15px;
    background-color: #e4e1e6;
    color: #494950;
    font-size: 18pt;

}
span{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#disabled{

    background-color: #d9dcdf;
}

/****************************CSS do corpo********************************************/
.container  {  
    padding:20px;	
	margin: 1em auto;  	
	width: 980px;  	
    background: #fff;  
    border-radius: 8px;
    border: 0px solid blue;
}
.contents  {  	
    margin-top: 200px;
	padding:20px;	
	margin-left: 560px;  	
	width: 400px;  	
    background: #fff;  
    border-radius: 8px;
    border: 0px solid blue;
    box-shadow: 5px 5px 5px #494950;
}
.form-group{
    margin-bottom:1rem
}
.row{
    display:flex;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
.title {
    font-size: 84px;
    font-family: Arial;
}
.text-right{
    text-align:right!important
}
.text-center{
    text-align: center;
}
h1{
    font-size:2.25rem;
    
    font-family: Arial;
}
h2{
    font-size:1.8rem;
    font-family: Arial;
}
h3{
    font-size:1.575rem;
    font-family: Arial;
}

h4{
    font-size:1.35rem;
    font-family: Arial;
}
h5{
    font-size:1.125rem;
    font-family: Arial;

}
h6{
    font-size:.9rem;
    font-family: Arial;
}
label{
    color: #2e2c2c;
    font-family: arial;
    font-size: 18px;
    display:inline-block;
    margin-bottom:.5rem;
    margin-right: 10px;
    margin-left: 10px;
}
.input-grande{
    padding: 5px;
    width: 600px;
    font-size: 20px;
    border-radius: 5px;
    font-size:.9rem;
    line-height:1.6;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
    
}

.input-medio{
    padding: 5px;
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
    font-size:.9rem;
    line-height:1.6;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
    
}
.input-pequeno{
    padding: 5px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    font-size:.9rem;
    line-height:1.6;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.form-control{
    display:block;
    width:100%;
    height:calc(2.19rem + 2px);
    padding:.375rem .75rem;
    font-size:.9rem;
    line-height:1.6;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
 
}
.btn-lg{
    padding:.8rem 3rem;
    font-size:1.125rem;
    line-height:1.5;
    border-radius:.3rem
}
.btn-primary{
    background-color: #007bff;
    color: white;
    font-family: arial;
}
.btn-primary:hover{
    background-color: #065ab4;
}
.btn-success{
    background-color: #16be32;
    color: white;
    font-family: arial;
}

.btn-success:hover{
    background-color: #13a82c;
}
.btn-danger{
    background-color:#f31d1a;
    color: white;
    font-family: arial;
}

.btn-danger:hover{
    background-color: #c00a07;
}
.btn-warning{
    background-color:#cf540d;
    color: white;
    font-family: arial;
}

.btn-warning:hover{
    background-color: #bb4a08;
}
/**********************************Tabela do bootstrap******************************************/
.table td,
.table th{
    padding:.75rem;
    vertical-align:top;
    border-top:1px solid #dee2e6
}
.table thead th{
    vertical-align:bottom;
    border-bottom:2px solid #dee2e6
}
.table tbody+tbody{
    border-top:2px solid #dee2e6
}
.table 
.table{
    background-color:#f8fafc
}
.table-sm td,.table-sm th{
    padding:.3rem
}
.table-bordered,
.table-bordered td,
.table-bordered th{
    border:1px solid #dee2e6
}
.table-bordered thead td,
.table-bordered thead th{
    border-bottom-width:2px
}
.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th{
    border:0
}
.table-striped tbody tr:nth-of-type(odd){
    background-color:rgba(0,0,0,.05)
}
.table-hover tbody tr:hover{
    background-color:rgba(0,0,0,.075)
}
.table-primary,.table-primary>td,.table-primary>th{
    background-color:#c6e0f5
}
.table-hover .table-primary:hover,.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th{
    background-color:#b0d4f1
}
.table-secondary,
.table-secondary>td,
.table-secondary>th{
    background-color:#d6d8db
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover>td,.table-hover 
.table-secondary:hover>th{
    background-color:#c8cbcf
}
.table-success,.table-success>td,.table-success>th{
    background-color:#c7eed8
}
.table-hover .table-success:hover,
.table-hover .table-success:hover>td,.table-hover 
.table-success:hover>th{
    background-color:#b3e8ca
}
.table-info,.table-info>td,.table-info>th{
    background-color:#d6e9f9
}
.table-hover .table-info:hover,.table-hover 
.table-info:hover>td,.table-hover .table-info:hover>th{
    background-color:#c0ddf6
}
.table-warning,.table-warning>td,.table-warning>th{
    background-color:#fffacc
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th{
    background-color:#fff8b3
}
.table-danger,
.table-danger>td,
.table-danger>th{
    background-color:#f7c6c5
}
.table-hover .table-danger:hover,.table-hover 
.table-danger:hover>td,.table-hover
.table-danger:hover>th{
     background-color:#f4b0af
    }
.table-light,.table-light>td,.table-light>th{
    background-color:#fdfdfe
}
.table-hover .table-light:hover,.table-hover
.table-light:hover>td,.table-hover
.table-light:hover>th{
    background-color:#ececf6
}.table-dark,.table-dark>td,.table-dark>th{
    background-color:#c6c8ca
}.table-hover
.table-dark:hover,.table-hover 
.table-dark:hover>td,.table-hover
.table-dark:hover>th{
    background-color:#b9bbbe
}.table-active,.table-active>td,.table-active>th,.table-hover
.table-active:hover,.table-hover .table-active:hover>td,.table-hover
.table-active:hover>th{
    background-color:rgba(0,0,0,.075)}
.table .thead-dark th{
    color:#f8fafc;
    background-color:#212529;
    border-color:#32383e}
.table .thead-light th{
    color:#495057;
    background-color:#e9ecef;
    border-color:#dee2e6
}
.table-dark{
    color:#f8fafc;
    background-color:#212529
}
.table-dark td,.table-dark th,.table-dark thead th{
    border-color:#32383e
}
.table-dark.table-bordered{
    border:0
}
.table-dark.table-striped tbody tr:nth-of-type(odd){
    background-color:hsla(0,0%,100%,.05)
}
.table-dark.table-hover tbody tr:hover{
    background-color:hsla(0,0%,100%,.075)}@media (max-width:575.98px)
    {
.table-responsive-sm{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar
}
.table-responsive-sm>.table-bordered{
    border:0
}}@media (max-width:767.98px){
.table-responsive-md{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar
}
.table-responsive-md>.table-bordered{
    border:0
}}@media (max-width:991.98px){
.table-responsive-lg{
    display:block;
    width:100%;overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar
}
.table-responsive-lg>.table-bordered{border:0}}@media (max-width:1199.98px){
.table-responsive-xl{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar
}
.table-responsive-xl>.table-bordered{
    border:0
}}
.table-responsive{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar
}
.table-responsive>.table-bordered
{border:0
}